<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h4 class="text-center">Agregar una novedad</h4>
            <form action="/admin/novedades/agregar" method="post">
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título" />
                </div>
                <div class="mb-3 row">
                    <input class="form-control" id="subtitulo" name="subtitulo" placeholder="Subtítulo" />
                </div>
                <div class="mb-3 row">
                    <textarea class="form-control" id="cuerpo" name="cuerpo" placeholder="Cuerpo"></textarea>
                </div>
                
                <input type="submit" class="btn btn-primary" value="Agregar" />
            </form>
            {{#if error}}
            <div class="alert alert-danger mt-3" role="alert">
                {{message}}
            </div>
            {{/if}}
        </div>
    </div>
</div>